USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGiangVien]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddGiangVien]
    @HO NVARCHAR(50),
    @TEN NVARCHAR(10),
    @HOCVI NVARCHAR(20),
    @HOCHAM NVARCHAR(20),
    @CHUYENMON NVARCHAR(50),
    @MAKHOA NVARCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate họ tên
    IF @HO IS NULL OR LTRIM(RTRIM(@HO)) = ''
    BEGIN
        SET @StatusMessage = N'Họ không được để trống';
        RETURN;
    END

    IF @TEN IS NULL OR LTRIM(RTRIM(@TEN)) = ''
    BEGIN
        SET @StatusMessage = N'Tên không được để trống';
        RETURN;
    END

    -- Kiểm tra khoa tồn tại
    IF NOT EXISTS (SELECT 1 FROM KHOA WHERE MAKHOA = @MAKHOA)
    BEGIN
        SET @StatusMessage = N'Mã khoa không tồn tại';
        RETURN;
    END

    DECLARE @NextNumber INT;
    DECLARE @MAGV NCHAR(10);

    BEGIN TRANSACTION;
    -- Lấy số thứ tự lớn nhất hiện có
    SELECT @NextNumber =
        ISNULL(MAX(CAST(SUBSTRING(MAGV,3,LEN(RTRIM(MAGV))-2) AS INT)),0) + 1
    FROM GIANGVIEN
    WHERE MAGV LIKE 'GV%';

    -- Sinh mã GV001, GV002...
    SET @MAGV =
        'GV' + RIGHT('000' + CAST(@NextNumber AS VARCHAR(10)),4);

    INSERT INTO GIANGVIEN
    (
        MAGV, HO, TEN, HOCVI, HOCHAM, CHUYENMON, MAKHOA
    )
    VALUES
    (
        @MAGV, @HO, @TEN, @HOCVI, @HOCHAM, @CHUYENMON, @MAKHOA
    );

    SET @StatusMessage = N'SUCCESS';
    SELECT @MAGV AS MAGV;

    -- Trả lại mã vừa tạo cho frontend
    SELECT @MAGV AS MAGV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddKhoa]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddKhoa]
    @MAKHOA NCHAR(10),
    @TENKHOA NVARCHAR(50),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM KHOA WHERE MAKHOA = @MAKHOA)
    BEGIN
        SET @StatusMessage = N'Mã khoa đã tồn tại';
        RETURN;
    END
    INSERT INTO KHOA (MAKHOA, TENKHOA) VALUES (@MAKHOA, @TENKHOA);
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddLop]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddLop]
    @MALOP NVARCHAR(20),
    @TENLOP NVARCHAR(50),
    @KHOAHOC NCHAR(9),
    @MAKHOA NVARCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM LOP WHERE MALOP = @MALOP)
    BEGIN
        SET @StatusMessage = N'Mã lớp đã tồn tại';
        RETURN;
    END
    INSERT INTO LOP (MALOP, TENLOP, KHOAHOC, MAKHOA) 
    VALUES (@MALOP, @TENLOP, @KHOAHOC, @MAKHOA);
    
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddLopTinChi]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddLopTinChi]
    @NIENKHOA NVARCHAR(18),
    @HOCKY INT,
    @MAMH NCHAR(10),
    @MAGV NCHAR(10),
    @MAKHOA NCHAR(10),
    @SOSVTOITHIEU INT,
    @HUYLOP BIT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra format niên khóa đúng dạng YYYY-YYYY trước khi cast
    IF @NIENKHOA IS NULL 
       OR LTRIM(RTRIM(@NIENKHOA)) NOT LIKE '[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
    BEGIN
        SET @StatusMessage = N'Định dạng niên khóa không hợp lệ (phải là YYYY-YYYY)';
        RETURN;
    END

    DECLARE @CleanNK NVARCHAR(18) = LTRIM(RTRIM(@NIENKHOA));

    DECLARE @NamBatDau INT = CAST(LEFT(@NIENKHOA, 4) AS INT);
    DECLARE @NamKetThuc INT = CAST(RIGHT(@NIENKHOA, 4) AS INT);
    DECLARE @NamHienTai INT = YEAR(GETDATE());
    DECLARE @SoNamChoPhepTaoTruoc INT = 3;

    -- Kiểm tra format niên khóa hợp lệ
    IF @NamKetThuc <> @NamBatDau + 1
    BEGIN
        SET @StatusMessage = N'Niên khóa không hợp lệ';
        RETURN;
    END

    DECLARE @NgayKetThuc DATE;
    IF @HOCKY = 1
    	SET @NgayKetThuc = DATEFROMPARTS(@NamKetThuc, 1, 1);

    ELSE IF @HOCKY = 2
    	SET @NgayKetThuc = DATEFROMPARTS(@NamKetThuc, 7, 7);

    ELSE IF @HOCKY = 3
    	SET @NgayKetThuc = DATEFROMPARTS(@NamKetThuc, 8, 31);

    ELSE
    BEGIN
    	SET @StatusMessage = N'Học kỳ không hợp lệ';
    	RETURN;
    END

    IF CAST(GETDATE() AS DATE) > @NgayKetThuc
    BEGIN
    	SET @StatusMessage = N'Không thể tạo lớp tín chỉ cho học kỳ đã kết thúc';
    	RETURN;
    END

    -- Không cho tạo quá xa trong tương lai
    IF @NamBatDau > @NamHienTai + @SoNamChoPhepTaoTruoc
    BEGIN
        SET @StatusMessage = N'Chỉ được khai báo niên khóa trong vòng ' + CAST(@SoNamChoPhepTaoTruoc AS NVARCHAR(2)) + N' năm tới';
        RETURN;
    END

    -- Kiểm tra môn học, giảng viên, khoa tồn tại (nên có, tránh lỗi FK)
    IF NOT EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)
    BEGIN
        SET @StatusMessage = N'Môn học không tồn tại';
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM GIANGVIEN WHERE MAGV = @MAGV)
    BEGIN
        SET @StatusMessage = N'Giảng viên không tồn tại';
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM KHOA WHERE MAKHOA = @MAKHOA)
    BEGIN
        SET @StatusMessage = N'Khoa không tồn tại';
        RETURN;
    END

    BEGIN TRANSACTION;

    -- Tự sinh số nhóm tiếp theo trong phạm vi (niên khóa, kỳ, môn)
    DECLARE @NhomMoi INT;
    SELECT @NhomMoi = ISNULL(MAX(NHOM), 0) + 1
    FROM LOPTINCHI WITH (UPDLOCK, HOLDLOCK)
    WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY AND MAMH = @MAMH;

    INSERT INTO LOPTINCHI (NIENKHOA, HOCKY, MAMH, NHOM, MAGV, MAKHOA, SOSVTOITHIEU, HUYLOP)
    VALUES (@NIENKHOA, @HOCKY, @MAMH, @NhomMoi, @MAGV, @MAKHOA, @SOSVTOITHIEU, @HUYLOP);

    COMMIT TRANSACTION;

    SET @StatusMessage = N'SUCCESS';
    SELECT @NhomMoi AS NHOM;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMonHoc]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddMonHoc]
    @MAMH NCHAR(10),
    @TENMH NVARCHAR(100),
    @SOTINCHI_LT INT,
    @SOTINCHI_TH INT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)
    BEGIN
        SET @StatusMessage = N'Mã môn học đã tồn tại';
        RETURN;
    END
    DECLARE @SOTIET_LT INT = @SOTINCHI_LT * 15;
    DECLARE @SOTIET_TH INT = @SOTINCHI_TH * 30;
    DECLARE @SOTINCHI INT = @SOTINCHI_LT + @SOTINCHI_TH;
    INSERT INTO MONHOC (MAMH, TENMH, SOTIET_LT, SOTIET_TH, SOTINCHI)
    VALUES (@MAMH, @TENMH, @SOTIET_LT, @SOTIET_TH, @SOTINCHI);
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStudent]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddStudent]
    @MASV NCHAR(10),
    @HO NVARCHAR(50),
    @TEN NVARCHAR(10),
    @PHAI BIT,
    @DIACHI NVARCHAR(100),
    @NGAYSINH DATE,
    @MALOP NVARCHAR(20),
    @DANGHIHOC BIT,
    @PASSWORD NVARCHAR(255),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @MASV)
    BEGIN
        SET @StatusMessage = N'Mã sinh viên đã tồn tại';
        RETURN;
    END

    IF @NGAYSINH IS NOT NULL
   	AND @NGAYSINH > GETDATE()
    BEGIN
    	SET @StatusMessage = N'Ngày sinh không hợp lệ';
    	RETURN;
    END

    -- kiểm tra mã sinh viên có đúng định dạng không
    IF TRY_CAST(SUBSTRING(LTRIM(RTRIM(@MASV)),2,2) AS INT) IS NULL
    BEGIN
    	SET @StatusMessage = N'Mã sinh viên không đúng định dạng';
    	RETURN;
    END
    
    -- Kiểm tra khóa sinh viên và khóa lớp
    DECLARE @SvKhoa INT;
    DECLARE @LopKhoa INT;

    SET @SvKhoa = TRY_CAST(SUBSTRING(LTRIM(RTRIM(@MASV)), 2, 2) AS INT);
    SET @LopKhoa = TRY_CAST(SUBSTRING(LTRIM(RTRIM(@MALOP)), 2, 2) AS INT);

    IF @SvKhoa IS NULL OR @LopKhoa IS NULL
    BEGIN
    	SET @StatusMessage = N'Mã sinh viên hoặc mã lớp không đúng định dạng';
    	RETURN;
    END

    IF @SvKhoa <> @LopKhoa
    BEGIN
    SET @StatusMessage =
        N'Sinh viên khóa ' + CAST(@SvKhoa AS NVARCHAR(2))
        + N' chỉ được vào lớp khóa '
        + CAST(@LopKhoa AS NVARCHAR(2));
    RETURN;
    END
    -- thêm tài khoan sinh vien vào table SINHVIEN
    INSERT INTO SINHVIEN (MASV, HO, TEN, PHAI, DIACHI, NGAYSINH, MALOP, DANGHIHOC, PASSWORD)
    VALUES (@MASV, @HO, @TEN, @PHAI, @DIACHI, @NGAYSINH, @MALOP, @DANGHIHOC, @PASSWORD);
    SET @StatusMessage = N'SUCCESS';

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelClass]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Hủy đki học phần
CREATE   PROCEDURE [dbo].[sp_CancelClass]
    @MASV NCHAR(10),
    @MALTC INT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra có đăng ký không
    IF NOT EXISTS (SELECT 1 FROM DANGKY WHERE MASV = @MASV AND MALTC = @MALTC)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy dữ liệu đăng ký tương ứng';
        RETURN;
    END

    -- Đã hủy rồi
    IF EXISTS (SELECT 1 FROM DANGKY WHERE MASV = @MASV AND MALTC = @MALTC AND HUYDANGKY = 1)
    BEGIN
    	SET @StatusMessage = N'Bạn đã hủy đăng ký lớp này rồi';
    	RETURN;
    END

    -- Đã có điểm thì không cho hủy
    IF EXISTS (
        SELECT 1
        FROM DANGKY
        WHERE MASV = @MASV
          AND MALTC = @MALTC
          AND (
                DIEM_CC IS NOT NULL
             OR DIEM_GK IS NOT NULL
             OR DIEM_CK IS NOT NULL
          )
    )
    BEGIN
        SET @StatusMessage = N'Không thể hủy lớp học phần đã có điểm';
        RETURN;
    END

    -- Hủy đăng ký
    UPDATE DANGKY SET HUYDANGKY = 1 WHERE MASV = @MASV AND MALTC = @MALTC;
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteGiangVien]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteGiangVien]
    @MAGV NCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM GIANGVIEN WHERE MAGV = @MAGV)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Giảng viên';
        RETURN;
    END
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Xóa tài khoản đăng nhập tương ứng trong bảng TAIKHOAN trước
        DELETE FROM TAIKHOAN
        WHERE USERNAME = @MAGV
          AND ROLE = 'KHOA';

        -- 2. Xóa thông tin Giảng viên trong bảng GIANGVIEN
        DELETE FROM GIANGVIEN
        WHERE MAGV = @MAGV;

        COMMIT TRANSACTION;

        SET @StatusMessage = N'SUCCESS';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        IF ERROR_NUMBER() = 547
            SET @StatusMessage = N'Không thể xóa giảng viên này do đã phân công dạy Lớp tín chỉ';
        ELSE
            SET @StatusMessage = ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteKhoa]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteKhoa]
    @MAKHOA NCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM KHOA WHERE MAKHOA = @MAKHOA)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Khoa cần xóa';
        RETURN;
    END
    BEGIN TRY
        DELETE FROM KHOA WHERE MAKHOA = @MAKHOA;
        SET @StatusMessage = N'SUCCESS';
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() = 547
            SET @StatusMessage = N'Không thể xóa khoa này do đã có dữ liệu liên quan';
        ELSE
            SET @StatusMessage = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteLop]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteLop]
    @MALOP NVARCHAR(20),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM LOP WHERE MALOP = @MALOP)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Lớp cần xóa';
        RETURN;
    END
    BEGIN TRY
        DELETE FROM LOP WHERE MALOP = @MALOP;
        SET @StatusMessage = N'SUCCESS';
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() = 547
            SET @StatusMessage = N'Không thể xóa lớp này do đã có dữ liệu liên quan (Sinh viên đang học)';
        ELSE
            SET @StatusMessage = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteLopTinChi]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteLopTinChi]
    @MALTC INT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM LOPTINCHI WHERE MALTC = @MALTC)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Lớp tín chỉ';
        RETURN;
    END
    BEGIN TRY
        DELETE FROM LOPTINCHI WHERE MALTC = @MALTC;
        SET @StatusMessage = N'SUCCESS';
    END TRY
    BEGIN CATCH
        SET @StatusMessage = N'Không thể xóa Lớp tín chỉ này vì đã có dữ liệu ràng buộc';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMonHoc]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteMonHoc]
    @MAMH NCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Môn học';
        RETURN;
    END
    BEGIN TRY
        DELETE FROM MONHOC WHERE MAMH = @MAMH;
        SET @StatusMessage = N'SUCCESS';
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() = 547
            SET @StatusMessage = N'Không thể xóa môn này do đã được sử dụng trong Lớp Tín Chỉ';
        ELSE
            SET @StatusMessage = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStudent]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteStudent]
    @MASV NCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @MASV)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Sinh viên cần xóa';
        RETURN;
    END
    BEGIN TRY
        DELETE FROM SINHVIEN WHERE MASV = @MASV;
        SET @StatusMessage = N'SUCCESS';
    END TRY

    -- nếu sinh viên đã có điểm hoăc đăng ký môn thì ko được xóa
    BEGIN CATCH
        IF ERROR_NUMBER() = 547 -- Foreign Key constraint
            SET @StatusMessage = N'Không thể xóa sinh viên này do đã đăng ký lớp học hoặc có điểm liên quan';
        ELSE
            SET @StatusMessage = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllGiangVien]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 5. GIẢNG VIÊN (GIANGVIEN)
CREATE   PROCEDURE [dbo].[sp_GetAllGiangVien]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MAGV, HO, TEN, HOCVI, HOCHAM, CHUYENMON, MAKHOA FROM GIANGVIEN;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllKhoa]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. KHOA (KHOA)
CREATE   PROCEDURE [dbo].[sp_GetAllKhoa]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MAKHOA, TENKHOA FROM KHOA;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLop]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. LỚP HÀNH CHÍNH (LOP)
CREATE   PROCEDURE [dbo].[sp_GetAllLop]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MALOP, TENLOP, KHOAHOC, MAKHOA FROM LOP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMonHoc]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 6. MÔN HỌC (MONHOC)
CREATE   PROCEDURE [dbo].[sp_GetAllMonHoc]
AS
BEGIN
    SET NOCOUNT ON;
    -- Map ngược cột SOTIET_LT, SOTIET_TH về thành SOTINCHI_LT và SOTINCHI_TH để Frontend hiển thị đúng
    SELECT 
        MAMH,
        TENMH,
        (SOTIET_LT / 15) AS SOTINCHI_LT,
        (SOTIET_TH / 30) AS SOTINCHI_TH,
        SOTINCHI
    FROM MONHOC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClasses]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 7. LỚP TÍN CHỈ (LOPTINCHI) (của pgv và gv)
CREATE   PROCEDURE [dbo].[sp_GetClasses]
    @NIENKHOA NVARCHAR(18),
    @HOCKY INT,
    @MAGV NCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @MAGV IS NULL OR @MAGV = ''
    BEGIN
	-- (PGV)Lấy tất cả lớp của tất cả giảng viên trong trường
        SELECT 
            LTC.MALTC,
            LTC.NIENKHOA,
            LTC.HOCKY,
            LTC.MAMH, 
            MH.TENMH, 
            LTC.NHOM, 
            LTC.MAGV,
            LTC.MAKHOA,
            (GV.HO + ' ' + GV.TEN) AS HOTEN_GV, 
	    (SELECT COUNT(*)
 	    	FROM DANGKY DK
 	    	WHERE DK.MALTC = LTC.MALTC
   	    	AND DK.HUYDANGKY = 0) AS SOSVDANGKY,
            LTC.SOSVTOITHIEU,
            LTC.HUYLOP,
	    CASE
        	WHEN LTC.HUYLOP = 1
        	THEN N'Đã hủy'
        	ELSE N'Đang mở'
    	    END AS TRANGTHAI
        FROM LOPTINCHI LTC
        JOIN MONHOC MH ON LTC.MAMH = MH.MAMH
        JOIN GIANGVIEN GV ON LTC.MAGV = GV.MAGV
        WHERE LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY;
    END
    ELSE
    BEGIN
	-- (GV)Lấy lớp học theo mã giảng viên
        SELECT 
            LTC.MALTC,
            LTC.NIENKHOA,
            LTC.HOCKY,
            LTC.MAMH, 
            MH.TENMH, 
            LTC.NHOM, 
            LTC.MAGV,
            LTC.MAKHOA,
            (GV.HO + ' ' + GV.TEN) AS HOTEN_GV, 
	    (SELECT COUNT(*)
 	    	FROM DANGKY DK
 	    	WHERE DK.MALTC = LTC.MALTC
 		AND DK.HUYDANGKY = 0) AS SOSVDANGKY,
            LTC.SOSVTOITHIEU,
            LTC.HUYLOP,
	    CASE 
                WHEN LTC.HUYLOP = 1 THEN N'Đã hủy'
                ELSE N'Đang mở'
            END AS TRANGTHAI
        FROM LOPTINCHI LTC
        JOIN MONHOC MH ON LTC.MAMH = MH.MAMH
        JOIN GIANGVIEN GV ON LTC.MAGV = GV.MAGV
        WHERE LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY AND LTC.MAGV = @MAGV;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClassStudents]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 10. SINH VIÊN TRONG LỚP TÍN CHỈ
CREATE   PROCEDURE [dbo].[sp_GetClassStudents]
    @MALTC INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        SV.MASV, 
        SV.HO, 
        SV.TEN, 
        SV.MALOP
    FROM DANGKY DK
    JOIN SINHVIEN SV ON DK.MASV = SV.MASV
    WHERE DK.MALTC = @MALTC
	AND DK.HUYDANGKY = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGrades]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetGrades]
    @MASV NCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        MH.TENMH, 
        DK.DIEM_CC, 
        DK.DIEM_GK, 
        DK.DIEM_CK,
        LTC.NIENKHOA,
        LTC.HOCKY,
        CASE
            WHEN DK.DIEM_CC IS NULL
              OR DK.DIEM_GK IS NULL
              OR DK.DIEM_CK IS NULL
            THEN NULL
            ELSE ROUND(
              DK.DIEM_CC * 0.1 +
              DK.DIEM_GK * 0.3 +
              DK.DIEM_CK * 0.6,
            2)
        END AS DIEM_TONG
    FROM DANGKY DK
    JOIN LOPTINCHI LTC ON DK.MALTC = LTC.MALTC
    JOIN MONHOC MH ON LTC.MAMH = MH.MAMH
    WHERE DK.MASV = @MASV AND DK.HUYDANGKY = 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetRegisteredClasses]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lấy ds lớp đã đăng ký
CREATE   PROCEDURE [dbo].[sp_GetRegisteredClasses]
    @MASV NCHAR(10),
    @NIENKHOA NVARCHAR(18),
    @HOCKY INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        LTC.MALTC, 
        LTC.MAMH, 
        MH.TENMH, 
        LTC.NHOM, 
        LTC.SOSVTOITHIEU,
        (GV.HO + ' ' + GV.TEN) AS HOTEN_GV
    FROM DANGKY DK
    JOIN LOPTINCHI LTC ON DK.MALTC = LTC.MALTC
    JOIN MONHOC MH ON LTC.MAMH = MH.MAMH
    JOIN GIANGVIEN GV ON LTC.MAGV = GV.MAGV
    WHERE DK.MASV = @MASV 
      AND LTC.NIENKHOA = @NIENKHOA 
      AND LTC.HOCKY = @HOCKY
      AND DK.HUYDANGKY = 0
      AND LTC.HUYLOP = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudents]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. SINH VIÊN (SINHVIEN)
CREATE   PROCEDURE [dbo].[sp_GetStudents]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MASV, HO, TEN,PHAI,DIACHI,NGAYSINH, MALOP, DANGHIHOC
    FROM SINHVIEN;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsByLTC]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetStudentsByLTC]
    @MALTC INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        SV.MASV, 
        (SV.HO + ' ' + SV.TEN) AS HOTEN_SV,
        SV.MALOP,
        DK.DIEM_CC, 
        DK.DIEM_GK, 
        DK.DIEM_CK,
        CASE
            WHEN DK.DIEM_CC IS NULL
              OR DK.DIEM_GK IS NULL
              OR DK.DIEM_CK IS NULL
            THEN NULL
            ELSE ROUND((DK.DIEM_CC * 0.1 + DK.DIEM_GK * 0.3 + DK.DIEM_CK * 0.6), 2)
        END AS DIEM_TONG
    FROM DANGKY DK
    JOIN SINHVIEN SV ON DK.MASV = SV.MASV
    WHERE DK.MALTC = @MALTC AND DK.HUYDANGKY = 0
    ORDER BY SV.TEN ASC, SV.HO ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LoginUser]
    @USERNAME VARCHAR(50),
    @PASSWORD NVARCHAR(255),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kiểm tra trong bảng SINHVIEN trước
    IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @USERNAME AND PASSWORD = @PASSWORD)
    BEGIN
        SET @StatusMessage = N'SUCCESS'; -- Gán thành công trước khi SELECT
        SELECT MASV AS USERNAME, 'SINHVIEN' AS ROLE, DANGHIHOC
	FROM SINHVIEN 
	WHERE MASV = @USERNAME AND PASSWORD = @PASSWORD;
        RETURN;
    END

    -- 2. Nếu không phải SV, kiểm tra tiếp trong bảng TAIKHOAN (GV / PGV / KHOA)
    IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE USERNAME = @USERNAME AND PASSWORD = @PASSWORD)
    BEGIN
        SET @StatusMessage = N'SUCCESS'; -- Gán thành công trước khi SELECT
        SELECT USERNAME, ROLE FROM TAIKHOAN WHERE USERNAME = @USERNAME AND PASSWORD = @PASSWORD;
        RETURN;
    END

    -- 3. Nếu cả hai bảng đều không có
    SET @StatusMessage = N'Sai tài khoản hoặc mật khẩu';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterClass]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 9. ĐĂNG KÝ HỌC PHẦN (sp của sinh viên)
CREATE   PROCEDURE [dbo].[sp_RegisterClass]
    @MASV NCHAR(10),
    @MALTC INT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra sinh viên có đang nghỉ học/bảo lưu không
    IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @MASV AND DANGHIHOC = 1)
    BEGIN
        SET @StatusMessage = N'Sinh viên đang nghỉ học không thể đăng ký học phần';
        RETURN;
    END

    -- 1. Lấy thông tin lớp tín chỉ
    DECLARE @MAMH NCHAR(10);
    DECLARE @HOCKY INT;
    DECLARE @NIENKHOA NCHAR(18);
    SELECT @MAMH = MAMH, @HOCKY = HOCKY, @NIENKHOA = NIENKHOA 
    FROM LOPTINCHI 
    WHERE MALTC = @MALTC;

    IF @MAMH IS NULL
    BEGIN
        SET @StatusMessage = N'Lớp tín chỉ không tồn tại';
        RETURN;
    END

    --2.kiểm tra ltc có bị hủy không
    IF EXISTS (SELECT 1 FROM LOPTINCHI WHERE MALTC = @MALTC AND HUYLOP = 1)
    BEGIN
    	SET @StatusMessage = N'Lớp tín chỉ đã bị hủy';
    	RETURN;
    END

    -- [BỔ SUNG]: CHỐNG ĐĂNG KÝ TRÙNG TUYỆT ĐỐI (LỖI DOUBLE CLICK)
    IF EXISTS (
    	SELECT 1 
    	FROM DANGKY 
    	WHERE MASV = @MASV AND MALTC = @MALTC AND HUYDANGKY = 0
	)
    BEGIN
    	SET @StatusMessage = N'Bạn đã đăng ký lớp này rồi';
    	RETURN;
    END

    -- 3. Đã từng đăng ký lớp này nhưng đã hủy (HUYDANGKY = 1) -> lật lại thành 0
    IF EXISTS (
    	SELECT 1
    	FROM DANGKY
    	WHERE MASV = @MASV AND MALTC = @MALTC AND HUYDANGKY = 1)
    BEGIN
    	UPDATE DANGKY
    	SET HUYDANGKY = 0
    	WHERE MASV = @MASV AND MALTC = @MALTC;
        SET @StatusMessage = N'SUCCESS';
        RETURN;
    END

    -- 4. Kiểm tra sinh viên đã đăng ký lớp nào có cùng môn học trong cùng học kỳ/niên khóa chưa
    IF EXISTS (
        SELECT 1 
        FROM DANGKY DK
        JOIN LOPTINCHI LTC ON DK.MALTC = LTC.MALTC
        WHERE DK.MASV = @MASV 
	  AND DK.HUYDANGKY = 0
          AND LTC.MAMH = @MAMH 
          AND LTC.HOCKY = @HOCKY 
          AND LTC.NIENKHOA = @NIENKHOA
    )
    BEGIN
        SET @StatusMessage = N'Bạn đã đăng ký môn học này trong học kỳ rồi';
        RETURN;
    END
    -- 5. Thực hiện insert
    INSERT INTO DANGKY (MASV, MALTC, HUYDANGKY) VALUES (@MASV, @MALTC, 0);
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUserInternal]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegisterUserInternal]
    @USERNAME VARCHAR(50),
    @PASSWORD NVARCHAR(255),
    @ROLE VARCHAR(20),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- SP này chỉ tạo tài khoản cho PGV và KHOA (lưu trong TAIKHOAN)
    -- Tài khoản SINHVIEN đã được tạo sẵn trong sp_AddStudent
    IF @ROLE NOT IN ('PGV', 'KHOA')
    BEGIN
        SET @StatusMessage = N'Vai trò không hợp lệ cho thao tác này!';
        RETURN;
    END

    -- Tài khoản đã tồn tại
    IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE USERNAME = @USERNAME)
    BEGIN
        SET @StatusMessage = N'Tài khoản đã tồn tại!';
        RETURN;
    END

    -- Kiểm tra Giảng viên (role KHOA) phải tồn tại trong bảng GIANGVIEN trước
    IF @ROLE = 'KHOA'
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM GIANGVIEN WHERE MAGV = @USERNAME)
        BEGIN
            SET @StatusMessage = N'Giảng viên không tồn tại, vui lòng thêm giảng viên trước!';
            RETURN;
        END
    END

    -- PGV không bắt buộc phải có sẵn record trong bảng nào khác

    INSERT INTO TAIKHOAN (USERNAME, PASSWORD, ROLE)
    VALUES (@USERNAME, @PASSWORD, @ROLE);
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateGiangVien]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateGiangVien]
    @MAGV NCHAR(10),
    @HO NVARCHAR(50),
    @TEN NVARCHAR(10),
    @HOCVI NVARCHAR(20),
    @HOCHAM NVARCHAR(20),
    @CHUYENMON NVARCHAR(50),
    @MAKHOA NVARCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM GIANGVIEN WHERE MAGV = @MAGV)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Giảng viên';
        RETURN;
    END
    UPDATE GIANGVIEN
    SET HO = @HO, TEN = @TEN, HOCVI = @HOCVI, HOCHAM = @HOCHAM,
        CHUYENMON = @CHUYENMON, MAKHOA = @MAKHOA
    WHERE MAGV = @MAGV;
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateGrades]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateGrades]
    @MASV NCHAR(10),
    @MALTC INT,
    @DIEM_CC FLOAT,
    @DIEM_GK FLOAT,
    @DIEM_CK FLOAT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Điểm chuyên cần (Chỉ check nếu giảng viên có nhập)
    IF @DIEM_CC IS NOT NULL AND (@DIEM_CC < 0 OR @DIEM_CC > 10)
    BEGIN
        SET @StatusMessage = N'Điểm chuyên cần phải từ 0 đến 10';
        RETURN;
    END
    -- Điểm gk
    IF @DIEM_GK IS NOT NULL AND (@DIEM_GK < 0 OR @DIEM_GK > 10)
    BEGIN
        SET @StatusMessage = N'Điểm giữa kỳ phải từ 0 đến 10';
        RETURN;
    END
    -- Điểm cuối kì
    IF @DIEM_CK IS NOT NULL AND (@DIEM_CK < 0 OR @DIEM_CK > 10)
    BEGIN
        SET @StatusMessage = N'Điểm cuối kỳ phải từ 0 đến 10';
        RETURN;
    END

    -- nếu sinh viên hủy đki rồi gv ko nhập điểm được nữa
    IF NOT EXISTS (SELECT 1 FROM DANGKY WHERE MASV = @MASV AND MALTC = @MALTC AND HUYDANGKY = 0)
    BEGIN
        SET @StatusMessage = N'Sinh viên không còn đăng ký lớp này';
        RETURN;
    END
    UPDATE DANGKY
    --chỉ cập nhật 1 field được nhập
    SET DIEM_CC = ISNULL(@DIEM_CC, DIEM_CC),
    	DIEM_GK = ISNULL(@DIEM_GK, DIEM_GK),
    	DIEM_CK = ISNULL(@DIEM_CK, DIEM_CK)
    WHERE MASV = @MASV AND MALTC = @MALTC;
    SET @StatusMessage = N'SUCCESS';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateKhoa]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateKhoa]
    @MAKHOA NCHAR(10),
    @TENKHOA NVARCHAR(50),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM KHOA WHERE MAKHOA = @MAKHOA)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Khoa cần sửa';
        RETURN;
    END
    UPDATE KHOA SET TENKHOA = @TENKHOA WHERE MAKHOA = @MAKHOA;
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLop]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateLop]
    @MALOP NVARCHAR(20),
    @TENLOP NVARCHAR(50),
    @KHOAHOC NCHAR(9),
    @MAKHOA NVARCHAR(10),
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM LOP WHERE MALOP = @MALOP)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Lớp cần sửa';
        RETURN;
    END
    UPDATE LOP 
    SET TENLOP = @TENLOP, KHOAHOC = @KHOAHOC, MAKHOA = @MAKHOA 
    WHERE MALOP = @MALOP;
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLopTinChi]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_UpdateLopTinChi]
    @MALTC INT,
    @NIENKHOA NVARCHAR(18),
    @HOCKY INT,
    @MAMH NCHAR(10),
    @MAGV NCHAR(10),
    @MAKHOA NCHAR(10),
    @SOSVTOITHIEU INT,
    @HUYLOP BIT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM LOPTINCHI WHERE MALTC = @MALTC)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Lớp tín chỉ';
        RETURN;
    END

    -- NHOM không cho sửa, lấy nguyên giá trị hiện có của lớp này
    DECLARE @NhomHienTai INT;
    SELECT @NhomHienTai = NHOM FROM LOPTINCHI WHERE MALTC = @MALTC;

    -- Nếu đổi niên khóa/kỳ/môn, kiểm tra tổ hợp mới (kèm NHOM hiện tại) có bị trùng với lớp khác không
    IF EXISTS (
        SELECT 1 FROM LOPTINCHI 
        WHERE NIENKHOA = @NIENKHOA 
          AND HOCKY = @HOCKY 
          AND MAMH = @MAMH 
          AND NHOM = @NhomHienTai
          AND MALTC <> @MALTC
    )
    BEGIN
        SET @StatusMessage = N'Không thể đổi sang môn/kỳ/niên khóa này vì nhóm bị trùng, vui lòng tạo lớp mới';
        RETURN;
    END

    UPDATE LOPTINCHI 
    SET NIENKHOA = @NIENKHOA, 
        HOCKY = @HOCKY, 
        MAMH = @MAMH, 
        MAGV = @MAGV, 
        MAKHOA = @MAKHOA, 
        SOSVTOITHIEU = @SOSVTOITHIEU, 
        HUYLOP = @HUYLOP
    WHERE MALTC = @MALTC;
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMonHoc]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateMonHoc]
    @MAMH NCHAR(10),
    @TENMH NVARCHAR(50),
    @SOTINCHI_LT INT,
    @SOTINCHI_TH INT,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Môn học';
        RETURN;
    END
    DECLARE @SOTIET_LT INT = @SOTINCHI_LT * 15;
    DECLARE @SOTIET_TH INT = @SOTINCHI_TH * 30;
    DECLARE @SOTINCHI INT = @SOTINCHI_LT + @SOTINCHI_TH;
    UPDATE MONHOC
    SET TENMH = @TENMH,
        SOTIET_LT = @SOTIET_LT,
        SOTIET_TH = @SOTIET_TH,
        SOTINCHI = @SOTINCHI
    WHERE MAMH = @MAMH;
    SET @StatusMessage = N'SUCCESS';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStudent]    Script Date: 6/23/2026 11:22:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateStudent]
    @MASV NCHAR(10),           -- mã hiện tại (để tìm SV)
    @MASV_MOI NCHAR(10) = NULL, -- mã mới muốn đổi sang (NULL nếu không đổi)
    @HO NVARCHAR(50),
    @TEN NVARCHAR(10),
    @PHAI BIT,
    @DIACHI NVARCHAR(100),
    @NGAYSINH DATE,
    @MALOP NVARCHAR(20),
    @DANGHIHOC BIT,
    @PASSWORD NVARCHAR(255) = NULL,
    @StatusMessage NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @MASV)
    BEGIN
        SET @StatusMessage = N'Không tìm thấy Sinh viên cần sửa';
        RETURN;
    END

    IF @NGAYSINH IS NOT NULL
   	AND @NGAYSINH > GETDATE()
    BEGIN
    	SET @StatusMessage = N'Ngày sinh không hợp lệ';
    	RETURN;
    END

    -- Nếu có yêu cầu đổi MASV
    IF @MASV_MOI IS NOT NULL AND LTRIM(RTRIM(@MASV_MOI)) <> '' AND @MASV_MOI <> @MASV
    BEGIN
        -- Check mã mới có bị trùng không
        IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @MASV_MOI)
        BEGIN
            SET @StatusMessage = N'Mã sinh viên mới đã tồn tại';
            RETURN;
        END

        -- Check sinh viên đã có dữ liệu ràng buộc chưa
        IF EXISTS (SELECT 1 FROM DANGKY WHERE MASV = @MASV)
  		OR EXISTS (SELECT 1 FROM BANGDIEM WHERE MASV = @MASV)
	BEGIN
    		SET @StatusMessage = N'Không thể đổi mã sinh viên vì đã phát sinh dữ liệu học tập';
    		RETURN;
	END
	-- Nếu sạch thì cho đổi mã
        UPDATE SINHVIEN SET MASV = @MASV_MOI WHERE MASV = @MASV;
        SET @MASV = @MASV_MOI; -- để các bước update tiếp theo dùng mã mới
    END

    DECLARE @SvKhoa INT;
    DECLARE @LopKhoa INT;

    SET @SvKhoa = TRY_CAST(SUBSTRING(LTRIM(RTRIM(@MASV)), 2, 2) AS INT);
    SET @LopKhoa = TRY_CAST(SUBSTRING(LTRIM(RTRIM(@MALOP)), 2, 2) AS INT);

    IF @SvKhoa IS NULL OR @LopKhoa IS NULL
    BEGIN
    	SET @StatusMessage = N'Mã sinh viên hoặc mã lớp không đúng định dạng';
    	RETURN;
    END

    IF @LopKhoa < @SvKhoa
    BEGIN
        SET @StatusMessage =
        	N'Sinh viên khóa ' + CAST(@SvKhoa AS NVARCHAR(2))
        	+ N' không được vào lớp khóa '
        	+ CAST(@LopKhoa AS NVARCHAR(2));
         RETURN;
    END

    UPDATE SINHVIEN
    SET HO = @HO, TEN = @TEN, PHAI = @PHAI, DIACHI = @DIACHI,
        NGAYSINH = @NGAYSINH, MALOP = @MALOP, DANGHIHOC = @DANGHIHOC
    WHERE MASV = @MASV;

    IF @PASSWORD IS NOT NULL AND @PASSWORD <> ''
    BEGIN
        UPDATE SINHVIEN SET PASSWORD = @PASSWORD WHERE MASV = @MASV;
    END

    SET @StatusMessage = N'SUCCESS';
END;
GO
